<div class="container" style="padding-top: 3%;">
<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">
      Registrar Empresa
    </div>
    <div class="card-body border-primary">
      <div class="row text-right pb-2">
        <button class="btn btn-success" routerLink="/login">
          Loguearse
        </button>
      </div>
      <form [formGroup]="forma"
            class="form"
            #f="ngForm"
            (ngSubmit)="registrar(f)">
      <div class="row">
        <div class="col-md-6">
            <label for="nombre">Nombre:</label>
            <input autocomplete="off" 
                   type="text" 
                   class="form-control" 
                   id="nombre"
                   formControlName="fnombre"
                   [(ngModel)]="empresa.nombre">
        </div>
        <div class="col-md-6">
            <label for="rfc">RFC:</label>
            <input autocomplete="off" 
                   type="text" 
                   class="form-control" 
                   id="rfc"
                   formControlName="frfc"
                   [(ngModel)]="empresa.rfc">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label for="encargado">Encargado:</label>
            <input autocomplete="off" 
                   type="text" 
                   class="form-control" 
                   id="encargado"
                   formControlName="fencargado"
                   [(ngModel)]="empresa.encargado">
        </div>
        <div class="col-md-6">
            <label for="direccion">Direccion:</label>
            <input autocomplete="off" 
                   type="text" 
                   class="form-control" 
                   id="direccion"
                   formControlName="fdireccion"
                   [(ngModel)]="empresa.direccion">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label for="vicion">Visión:</label>
            <input autocomplete="off" 
                   type="text" 
                   class="form-control" 
                   id="vicion"
                   formControlName="fvision"
                   [(ngModel)]="empresa.vision">
        </div>
        <div class="col-md-6">
            <label for="mision">Misión:</label>
            <input autocomplete="off" 
                   type="text" 
                   class="form-control" 
                   id="mision"
                   formControlName="fmision"
                   [(ngModel)]="empresa.mision">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label for="usuario">Usuario:</label>
            <input autocomplete="off" 
                   type="text" 
                   class="form-control" 
                   id="usuario"
                   formControlName="fusuario"
                   [(ngModel)]="usuario.usuario">
        </div>
        <div class="col-md-6">
            <label for="password">Password:</label>
            <input autocomplete="off" 
                   type="text" 
                   class="form-control" 
                   id="password"
                   formControlName="fpassword"
                   [(ngModel)]="usuario.password">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label for="municipio">Municipio:</label>
            <select formControlName="fmunicipio"
                    id="municipio"
                    class="form-control"
                    name="municipio"
                    [(ngModel)]="idMunicipio">
          <option value=""> Seleccione un municipio</option>
          <option *ngFor="let item of municipio" [value]="item.idMunicipio">{{item.descripcionMunicipio}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="zona">Zona:</label>
            <select formControlName="fzona"
                    id="zona"
                    class="form-control"
                    name="zona"
                    [(ngModel)]="usuario.idZona">
            <option value="0">Seleccionar una zona</option>
            <option *ngFor="let item of zona" [value]="item.idZona">{{item.descripcionZona}}</option>

            </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="logo">Telefono:</label>
          <input type="number" 
                 class="form-control" 
                 id="telefono"
                 formControlName="ftelefono"
                 [(ngModel)]="empresa.telefono">
        </div>
        <div class="col-md-6">
          <label for="rolEmpresa">Rol de Empresa:</label>
            <select formControlName="frolEmpresa"
                  id="rolEmpresa"
                  class="form-control"
                  name="rolEmpresa"
                  [(ngModel)]="empresa.idRolEmpresa">
             <option value="0">Seleccionar una zona</option>
             <option *ngFor="let item of rolEmpresa" [value]="item.idRolEmpresa">{{item.descripcion}}</option>

          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label for="logo">Logo de la empresa:</label>
            <input (change)="archivoselect($event.target.files)" type="file" class="form-control" id="logo">
        </div>
      </div>
      <br>
      <button class="btn btn-primary" type="submit">Guardar Datos</button>
    </form>
    </div>
</div>

</div>
